/.idea/
marcelo_zoccoler/entry_user_interf3/scripts/__pycache__/flood_tool.cpython-37.pyc
marcelo_zoccoler/entry_user_interf3/.ipynb_checkpoints/Untitled-checkpoint.ipynb
marcelo_zoccoler/entry_user_interf3/Untitled.ipynb
