<!DOCTYPE html>
<html lang="en-US">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="/assets/css/style.css">
</head>
<body>
<div class="wrapper">
    <header>
        <h1><a href="https://biapol.github.io/blog">The BiA-PoL blog</a></h1>
        <img src="{{site.logo | relative_url}}" alt="Logo" />
        <p>The blog of the Bio-image Analysis Technology Development group at the DFG Cluster of Excellence "Physics of Life", TU Dresden</p>

        <ul class="downloads">
            <li><a href="https://biapol.github.io/blog/" target="_blank"><STRONG>Home</STRONG></a></li>
            <li><a href="https://biapol.github.io/blog/people" target="_blank"><STRONG>People</STRONG></a></li>
            <li><a href="https://biapol.github.io/blog/imprint" target="_blank"><STRONG>Imprint</STRONG></a></li>
        </ul>

    </header>
    <section>

        {{ content }}

    </section>
    <footer>
        <p><small>This project is maintained by <a href="https://biapol.github.io/blog/robert_haase">Robert Haase</a></small></p>
        <p><small><a href="https://biapol.github.io/blog/imprint">Imprint</a></small></p>
    </footer>
</div>
<script src="/assets/js/scale.fix.js"></script>
</body>
</html>